@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutHome";
}

    <div class="row">
        <img src="~/Images/garanties_header_1180x60_nl_0.jpg" width="100%" />
        <img class="col-3" src="~/Images/covid_garanties.jpg" />
        <img class="col-3" src="~/Images/omruil_garanties.jpg" />
        <img class="col-3" src="~/Images/laagsteprijs_garanties_180820_640x316_nl.jpg" />
        <img class="col-3" src="~/Images/repatriering_garanties.jpg" />
    </div>

